:root {
    --primario:#9c27b0;
    --primarioOscuro:#89119d;
    --secundario:#ffce00;
    --secundarioOscuro:#a88809;
    --negro: rgb(233, 225, 225);
    --blanco: #fff;

   --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /*  para que 1rem valga 10px  */ }
 *::before, *::after{
     box-sizing: inherit;
 }
/*      GLOBALES    */

 body {
     background-color: var(--primario);
     font-size: 1.6rem;
     line-height: 1.5; /* aplica un interlineado para todo el proyecto (1.5 de la base de la fuente*/
 }
 p {
     font-size: 1.8rem;
     font-family: Arial, Helvetica, sans-serif;
     color: var(--blanco);
 }
 a {
     text-decoration: none;
 }
 img{
     width: 100%;/* era max-width pero se modifico para aplicarlo a todas las img */

 }
 .contenedor {
     max-width: 100rem;
     margin: 0 auto;
 }
 h1, h2, h3 {
     text-align: center;
     color: var(--secundario);
     font-family: var(--fuentePrincipal);
 }
 h1 {font-size: 4rem;}
 h2 {font-size: 3.2rem;}
 h3 {font-size: 3.4rem;}

 .header  {
     display: flex;
     justify-content: center;
 }
 .header__logo {
     margin: 3rem 0;
 }
 /** footer **/
 .footer {
     background-color: var(--primarioOscuro);
     padding: 1rem 0;
     margin-top: 2rem;
 }
 .footer__texto {
     font-family: var(--fuentePrincipal);
     text-align: center;
     font-size: 2.2rem;
 }
 /**  navegacion  **/
 .navegacion {
     background-color: var(--primarioOscuro);
     margin: 1rem 0;
     display: flex;
     justify-content: center; 
  /**gap: 2rem;  gap  separa los elementos( metodo nuevo **/
  }
  .navegacion__enlace {
      font-family: var(--fuentePrincipal);
      color: var(--blanco);
      font-size: 3rem;
      margin-right: 1rem; /**metodo antiguo con mas soporte en navegadores**/
  }
  
  .navegacion__enlace:last-of-type{
      margin: 0;
  }
  .navegacion__enlace--activo,
  .navegacion__enlace:hover {
      color: var(--secundario);
  }
  /**  grid  **/
  .grid {
    display: grid;
    grid-template-columns: repeat(2, min-max(0, 1fr));
    gap: 2rem;/*gap short hand de c y r gap*/
    /**
    column-gap: 2rem;
    row-gap: 2rem;**/
}
  
  @media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, min-max(0, auto));
        align-items: center;
        
    }
  }

  .producto {
      background-color: var(--primarioOscuro);
      padding: 1rem;
      

  }
  .producto__imagen,
  .grafico--node,
  .grafico--react {
     width: 100%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    .producto__imagen,
    .grafico--node,
    .grafico--react {
        width: 100%;
        height: 60%;
        background-size: cover;
        background-repeat: no-repeat;
     }
  }
 
  .producto__informacion {
       text-align: center;
  }
  .producto__nombre {
      font-size: 4rem;
      word-wrap: break-word;
  }
  .producto__precio {
      font-size: 2.8rem;
      color: var(--secundario);
  }
  .producto__nombre,
  .producto__precio {
      text-align: center;
      margin: 1rem auto;
      font-family: var(--fuentePrincipal);
      line-height: 1.1;
  }
  /*.grafico {
      min-height: 30rem;
      background-size: cover; }  */
    
      
  
  .grafico--react {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      background-image: url(../img/grafico1.jpg);
      grid-column: 1 / 3; /* se aplica a las dos remeras */

    }
    @media (min-width: 768px) {
        .grafico--react {
            grid-row: 2 / 3;
      
          }
    }
    .grafico--node {
        background-image: url(../img/grafico2.jpg);
        grid-row: 8 / 9;
    }
  @media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
  }
  /*       nosotros     */
  .nosotros {
      display: grid;
      grid-template-rows: repeat(2, auto);
      column-gap: 1rem;
  }
  @media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}
.nosotros__imagen {
    grid-row: 1/ 2;
 /* width: 100%;  se lo aplica a img en las globales*/
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2/ 3;  
    }
}
.bloques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
@media (max-width: 768px) {
      .bloques {
         grid-template-columns: repeat(2, 1fr);
        
      }
    }

.bloque{
    text-align: center;
}

.bloque__titulo {
     margin: 0;
}
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }      
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
  /*border-width: 1rem ;   */
  /*border-color: var(--primarioOscuro);  */ /*estos tres por "border"*/
  /*border-style: solid;                 */
    
    border: 1rem var(--primarioOscuro) solid; /*ancho color y tipo del border*/

    background-color: transparent;  /*transparente agarra el color de abajo*/
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none; /*sirve para quitar la flecha en el select*/

}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .5s ease;
    grid-column: 1 / 3; /*hace que el submit ocupe todo el ancho*/

}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}